.blocks-details-end {

    background-image: url("../assets/img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.list-ios > .item-block:first-child {
   border: 0;
}

.list-md > .item-block:first-child {
   border: 0;
}

.list-ios {
   border: 0;
}

.list-md {
   border: 0;
}

.list-ios > .item-block:last-child{
    border: 0;
}

.list-md > .item-block:last-child{
    border: 0;
}